<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta name="description" content="code of honour is aimed at restoring african values and reducing corrupt 
        practices in the society, it seeks to contribute to the attainment of SDG goal 16">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <!-- Bootstrap css -->
    <link rel="stylesheet preconnect" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #fff;">
            <a class="navbar-brand" href="index.html"><img src="Img/Codedglobe-logo.png" alt="Codedglobe Logo"  width="130" height="50"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Navigation"
                aria-controls="collapsibleNavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">Sign Up</a>
                    </li>
                </ul>
               <!-- <form class="form-inline form-navbar my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search" aria-expanded="false"
                        aria-controls="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
        </nav>
    </header>
    <!-- Team-->
	<br>
    <div class="jumbotron jumbotron-fluid jumbotron-mf">
        <div class="container">
            <h1 class="display-4">About Code of Honour</h1>
            <p class="lead"><b>The CODE OF HONOUR</b> is moral codes, ethics, values and rules to help restore, reform, re-plan, re-make, remold,
                re- establish, and re-structure Africa on the right path of Peace, Justice and strong institution. This can
                be done by taking allegiance to the code of honor, whereby taking action and instilling the codes in every
                institutions. This code of honor is derived from 12 fundamental core values that re-establish the Africa
                to a glorious future.
            </p>

        </div>
    </div>
    <section class="split">
        <div class="container">
            <div class="row">
                <p>
                    
                        Code of Honour is a vision to help put an end to depravity, poverty, corruption and death in Africa. This came as a result
                        of moral decadence in Africa. Code of Honour is to instil core moral values into every aspect of
                        life and institutions, whereby every citizen of African will live in harmony, peace, love, justice,
                        equality and prosperity. We know the situation present in most African countries, as such there is
                        a need not just only empowering the people with resources that meet their needs; but also instilling
                        core moral values that change their thought, as a result, change Africa. Africa has been known for
                        moral decadence, poverty, corruption and evil. However, this can only be changed when African people
                        change their thought and reconsider their ways and turn around to do the right thing. This will bring
                        transformation, reformation and eventually produce equality, peace and prosperity. Code of Honour
                        is created to raise men of honour in all aspect of life. Whereby we go out and impart the codes through
                        education reformation, community reformation and leadership reformation. Nations that have peace,
                        unity, equality and justice have core moral values in place, right from their foundation. As such
                        no nation can advance if these core values are misplaced. Hence, Africa must be transformed, reformed
                        and save from corruption, poverty and death. Our impact will be felt in all aspects of life in African
                        nations, majorly reforming education, not just educating only but also instilling core values that
                        shape a nation. We will work with Educationist, to restructure their teaching approach and teaching
                        resources to instal the code of hour, as they impart to the student. If this core moral value is
                        taught not just as mere words, but practically illustrated and imparted into the student day to day
                        activities. 
						<p>There will be a new generation of students who have changed their thought, as a result,
                        change their world. Enough of leaders being corrupt, whereby they cause havoc and influence young
                        leaders with a bad attitude. We know this attitude will be transferred to the younger generation
                        of leaders in that manner of their past leaders. This bad transition must stop, a new approach, a
                        new thought, a new reformation, a new understanding, a new reformation will spring forth in every
                        Education institution and in another aspect of life in African nations. No nation can progress if
                        the thought of the people living is self-centeredness, no sacrifice to help others, or see the good
                        of others or rather sacrificially serving the people. That nation will end up in jeopardy. Most times,
                        we have heard of leaders of African nation being corrupt, this has not just resurrected shortly,
                        this has been seen from history that African leaders have been corrupt. Looking at days during the
                        slave trade, African leaders were self-centred, deciding to sell their brothers and sisters for the
                        exchange of material things which we know cause some to die and some to be separated from their parent
                        for life. 
						<p>As such slave mentality among our leaders still strife in African nations, which we know
                        has caused poverty, death and hatred among the people. Code of honour will help to address these
                        past failures and evil. It will also break the inheritance of evil from generation to generation,
                        as such destroying and hindering peace and prosperity. There a lot to say on the strong impact that
                        will be felt by instilling the code of honour in all aspect of life in Africa nations. Let together
                        join hands and put a stop to poverty, corruption and death in African whereby personally and collectively
                        changing our thought, as such changing our world. Africa will be saved.
						
                    
                </p>
            </div>
        </div>
    </section>
    <section class="next">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        <ol>
                            <b>THE 12 FUNDAMENTAL CORE VALUES FOR AFRICA CITIZENS</b>
							<br>
                            <li>UNCONDITIONAL LOVE</li>
                            <li>HONESTY</li>
                            <li>LOYALTY</li>
                            <li>HUMILITY</li>
                            <li>SELF-SACRIFICE</li>
                            <li>RIGHTEOUSNESS</li>
                            <li>HARMONY IN DIVERSITY</li>
                            <li>COURTESY</li>
                            <li>EXCELLENCE</li>
                            <li>DILIGENCE</li>
                            <li>EQUALITY OF OPPORTUNITY</li>
                            <li>LIBERTY IN GOD</li>
                        </ol>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="https://i.ibb.co/TTjgkym/africa.png" alt="africa map">
                </div>
            </div>
        </div>
    </section>
    <section class="split">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        The moral codes are built from core values and ethics for the good for humanity. The code seeks to aid Africa in her bid
                        to achieve the SDG 16: PEACE AND JUSTICE STRONG INSTITUTIONS. There are currently three categories
                        for the code namely; Code of Honour for Students, Code of Honour for Citizens and Code of Honour
                        for Leaders. These codes are design to put Africa on the right paths of peace, progress, equality
                        and prosperity.
                    </p>
                    <p>
                        Corruption is a form of dishonesty or criminal offense undertaken by a person or organization entrusted with a position of
                        authority, to acquire illicit benefit or abuse power for one's private gain. Corruption may include
                        many activities including bribery and embezzlement, though it may also involve practices that are
                        legal in many countries. Corruption is lack of integrity or honesty (especially susceptibility to
                        bribery); use of a position of trust for dishonest gain. Corruption is simply also moral perversion;
                        impairment of virtue and moral principles.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/sdg_16.svg" alt="Structural development goal number 16">
                </div>
            </div>
        </div>
    </section>
    <section class="next">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <H3>Solution</H3>
                    <p>
                        Broaden and strengthen the participation of developing countries in the institutions of global governance. Ethics is the
                        core of globalization. Africa has failed to revolutionize it values that encourages globalization
                        and economic growth, peace and tranquility. In order for Africa to be re-established, there is need
                        for fundamental core values that builds every institution on the right path. Ethics is applied in
                        the following areas: ethics in a global world; ethics in science and technology; ethics, development,
                        poverty and the environment; ethics in business; and, finally, ethics in finance. None of these areas
                        is more important than the others. In fact, and this is probably not surprising, there are many interconnections
                        between them.
                    </p>
                    <p>
                        People and social and national groups are faced with this phenomenon from the perspective of mental schemas and views of
                        the world that are very different, forming part of very different cultures. Nevertheless, the answers
                        to these questions raised by globalization will be fundamental for global stability and prosperity
                        in the future.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/sdgtarget_16.8.svg" alt="Structural development goal number 16, target 8">
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <img class="mx-auto rounded-circle img-fluid " src="assets/person.png" alt="" />
                        <h4>Ola Ayokunle Joshua</h4>
                        <p class="text-muted">Technical Team Lead</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <img class="mx-auto rounded-circle img-fluid " src="assets/person.png" alt="" />
                        <h4>Abubakar Haruna</h4>
                        <p class="text-muted">Backend Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <img class="mx-auto rounded-circle img-fluid " src="assets/person.png" alt="" />
                        <h4>Umar Farooq Adamu</h4>
                        <p class="text-muted">Backend Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle img-fluid " src="assets/person.png" alt="" />
                        <h4>Sakirat Kehinde</h4>
                        <p class="text-muted">Front-end Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle img-fluid " src="assets/person.png" alt="" />
                        <h4>Chisom Nnabuihe</h4>
                        <p class="text-muted">Front-end Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle img-fluid " src="assets/person.png" alt="" />
                        <h4>Michael</h4>
                        <p class="text-muted"></p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis
                        ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>-->
            </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer font-small">

        <!-- Social Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-3">
                    <div class="mb-4 d-flex justify-content-center">
                        <!-- Email -->
                        <a href="" class="social" aria-label="Send us an Email">
                            <i class="fas fa-envelope fa-lg mr-md-4 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Facebook -->
                        <a href="#" class="social" aria-label="Follow us on Facebook">
                            <i class="fab fa-facebook-f fa-lg mr-md-4 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a href="#" class="social" aria-label="Follow us on Twitter">
                            <i class="fab fa-twitter fa-lg mr-md-4 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="#" class="social" aria-label="Follow us on Instagram">
                            <i class="fab fa-instagram fa-lg mr-md-4 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Github -->
                        <a href="#" class="social" aria-label="Github">
                            <i class="fab fa-github fa-lg fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-2">© 2020
            <a href="#"> Code of Honour</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/943badfd1d.js" crossorigin="anonymous"></script>
    <!--Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
