{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block main %}
    <!-- Team-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">About the code of honour</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque earum eveniet dolor dignissimos? Iste, sequi.
                Porro deserunt, odio vitae repellat voluptas illum eius iure fugiat est ut veniam obcaecati, explicabo veritatis
                corporis. Eligendi aspernatur earum animi consectetur aperiam similique magni architecto quod itaque eaque
                eum, repudiandae blanditiis rerum? Ipsa vitae maiores enim temporibus quas! Ea nemo harum animi impedit voluptatem
                atque commodi qui fugiat odit esse non laudantium possimus molestiae deserunt facilis, fuga tenetur tempore,
                blanditiis velit quis quas reiciendis assumenda quibusdam maiores. Autem dolorem sunt facilis at placeat
                deleniti molestias ut accusamus corrupti sed deserunt dolor aut doloremque harum aliquid odit explicabo,
                accusantium iure error dolore culpa nobis eveniet. Ratione vitae voluptate facilis, sunt aliquam minima quia
                quod temporibus pariatur eos fugit tempore id veniam ducimus soluta alias velit quos sequi numquam. Dolorem
                fugit placeat sed modi blanditiis mollitia, necessitatibus itaque a corporis exercitationem dolor asperiores
                tempora accusantium sequi inventore? Sunt porro molestias, itaque dolores, magni voluptatum, architecto vero
                quo odit atque amet? Beatae ducimus ea fugiat nobis iusto voluptatem delectus molestiae numquam illum necessitatibus,
                voluptatum distinctio inventore laboriosam minima cum qui praesentium alias repellat? Ipsum magnam, aut maiores
                vitae nam, modi doloribus quis numquam veniam, culpa dolores nemo.
            </p>
        </div>
    </div>
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <img class="mx-auto rounded-circle img-fluid" src="https://placeimg.com/300/300/people" alt="" />
                        <h4>Ola Ayokunle Joshua</h4>
                        <p class="text-muted">Technical Team Lead</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <img class="mx-auto rounded-circle img-fluid" src="https://placeimg.com/300/300/people" alt="" />
                        <h4>Abubakar Haruna</h4>
                        <p class="text-muted">Backend Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <img class="mx-auto rounded-circle img-fluid" src="https://placeimg.com/300/300/people" alt="" />
                        <h4>Umar Farooq Adamu</h4>
                        <p class="text-muted">Backend Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="https://placeimg.com/300/300/people" alt="" />
                        <h4>Sakirat Kehinde</h4>
                        <p class="text-muted">Front-end Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="https://placeimg.com/300/300/people" alt="" />
                        <h4>Chisom Nnabuihe</h4>
                        <p class="text-muted">Front-end Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="https://placeimg.com/300/300/people" alt="" />
                        <h4>Michael</h4>
                        <p class="text-muted"></p>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#!">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis
                        ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
   {% endblock %}