#assessmentCover{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 1000px;
    height: 2000px;
    z-index: 13;
    display: none;
}
#Assessment{
    text-align: center;
}
#lorem0{
    top: 230px;
     }
#lorem1{
        top: 500px;
         }
#lorem2{
            top: 750px;
             }
#lorem3{
            top: 1000px;
             }
#lorem4{
            top: 1240px;
             }             
.loremC{
    position: absolute;
    width: 600px;
    left: 500px;
}
.loremChild{
         font-size: 16px;
     }
.formA{
    position: absolute;
    left: 530px;
}     
#form0{
    top: 400px;
}
#form1{
    top: 670px;
}
#form2{
    top: 910px;
}
#form3{
    top: 1150px;
}
#form4{
    top: 1400px;
}

#cover_box{
    position: absolute;
    top: 1580px;
    left: 600px;
}
#box_cover{
    width: 300px;
  height: 40px;
  border: 1px solid #2980b9;
  display: flex;
}

.box0{
    color: #2d3436;
    padding: 10px;
    text-align:center;
    flex-basis: 50px;
}

#prev{
    position: absolute;
    top: 1580px;
    left: 550px;
    border: 1px solid #2980b9;
    padding: 10px;
}
#Nxt{
    position: absolute;
    top: 1580px;
    left: 902px;
    border: 1px solid #2980b9;
    padding: 10px;
}

#assessmentDashBoard{
    position: absolute;
    top: 160px;
    left: 250px;
    z-index: 13;
    width: 1000px;
    height: 600px;
    font-size: 14px;
}

#assessmentDashBoard h3{
    text-align: center;
}

.personalAssCover{
    display: flex;
    justify-content: space-around;
}
.personalAss{
    padding: 45px;
    background-color: #2d3436;
    height: 40px;
    border-radius: 15px;
    flex-basis: 100px;
    color: white;
    cursor: pointer;
}

#midPersonalAss{
    text-align: center;
    color: white;
}
.personalAss0{
    display: inline-block;
    width: 100px;
    padding: 30px;
    background-color: #2d3436;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.allAssess_{
    position: absolute;
    top: 140px;
    left: 450px;
    z-index: 13;
    height: 500px;
    font-size: 14px;
    overflow-y: scroll;
}

.formRadioCover{
    display: flex;
    justify-content: space-around;
}

#origCommunityAssessmentCover{
    display: none;
    width: 500px;
}
#origPersonalAssCover{
    display: none;
    width: 700px;
}
#origHistoricalAss_{
    display: none;
    width: 500px;
    z-index: 100;
    color: black;
}

.perAssBtn{
    
}






@media screen and (min-width: 319px) and (max-width: 320px){

}
@media screen and (min-width: 321px) and (max-width: 360px){

}
@media screen and (min-width: 361px) and (max-width: 375px){

}


@media screen and (min-width: 376px) and (max-width: 411px){

}
@media screen and (min-width: 412px) and (max-width: 414px){

}
@media screen and (min-width: 760px) and (max-width: 768px){

}