#title00{
    position: absolute;
    left: 450px;
    top: 100px;
    width:600px;
    height:50px;
    background-color:gray;
    border-radius:10px;
    overflow-y: hidden;
    text-align: center;
    z-index: 13;
    display: none;
}
#title00 h3{
    color:white;
    padding:10px;
    margin-top: 1px;
}
.cover_child{
    margin-top:20px;
    display:flex;
    width:900px;
    justify-content: space-around;
}
.child1{
    flex-basis: 400px;
    border-right-color: #2d3436;
}
.child2{
    flex-basis: 400px;
}
.input000{
    border:1px solid #2d3436;
    margin-top:10px;
    border-radius:10px;
    padding:6px;
    width: 200px;
    outline: none;
}
.child3{
    margin-left:30px;
    margin-top:20px;
}
.input1{
    border:1px solid #2d3436;
    margin-top:10px;
    border-radius:10px;
    padding:6px;
    width:1000px;
    outline: none;
}
.cover_child2{
    display:flex;
    justify-content: space-around;
    width:650px;
    margin: 0;
}
.descendant0{
    margin-top:10px;
}
.descendant_input0{
    width:200px;
    padding:6px;
    border-radius:10px;
    border:1px solid #2d3436;
    outline: none;
}
#state{
    padding:6px;
    border-radius:10px;
    border:1px solid #2d3436;
    width:150px;
    outline: none;
}
.child4{
    margin-top:10px;
}
.descendant1{
    margin-top:10px;
}
.descendant_input1{
    width:100px;
    padding:6px;
    border-radius:10px;
    border:1px solid #2d3436;
    outline: none;
}
.cover_child3{
    display:flex;
    justify-content:space-around;
    width:320px;
    margin-top:20px;
}
.descendant_input2{
    width:100px;
    padding:6px;
    border-radius:10px;
    outline: none;
}
.descendant_input3{
    width:100px;
    padding:6px;
    border-radius:10px;
    border:1px solid #2d3436;
    outline: none;
}
.sign_div0{
    margin-top:20px;
    margin-left:10px;
}
.checkbox{
    margin-top:15px;
    margin-left:27px;
}
.sign_btn{
background-color:#0984e3;
border: none;
color:white;
padding:10px 22px;
text-align:center;
text-decoration: none;
display:inline block;
font-size: 14px;
border-radius:10px;
}

.sign_btn:active{
color:#0984e3;
}
.cover_div0{
    position: absolute;
    left: 300px;
    top: 180px;
    z-index: 13;
    display: none;
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

/* #cover_register{
    position: absolute;
    top: 300px;
    width: 1000px;
    height: 900px;
    display: none;
    z-index: 20;
} */