{% extends 'base.html' %}
{% load static %}
{% block title %} DashBoard - Code Of Honor {% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>

<script src="https://kit.fontawesome.com/882955c3c2.js" crossorigin="anonymous"></script>
<section>
  <div id="back0000"></div>
  <div id="Header"><h4>Code of Honour</h4></div>

  <div id="sideBar">
      <div id="side0" class="side">Value</div>
      <div id="side1" class="side">Codes</div>
      <div id="side2" class="side">Pledge</div>
      <div id="side3" class="side">Action</div>
      <div id="side4" class="side">Campaign</div>
      <div id="side5" class="side">Volunteer</div>
      <div id="side6" class="side">Certificate</div>
  </div>

  <div class="User_img">
    <div class="circleler0"></div>
  </div>
  <i class="fas fa-user-plus useri"></i>
  <i class="fas fa-sort-down downarrow"></i>

  <div id="liBox">
    <div>Profile</div>
    <div>Change Password</div>
    <div>Log Out</div>
  </div>

  <div class="acct">Account</div>
  <div id="value">
      <h4 id="valuesHeading">Values</h4>
      <div class="val">
          <div class="img0"><img src="{% static 'assets/student.png' %}" alt="Student" class="actImg" /></div>
          <div class="txt0">Hello World</div>
      </div>
      <div class="val">
          <div class="img0"><img src="{% static 'assets/student.png' %}" alt="Student" class="actImg" /></div>
          <div class="txt0">Hello World</div>
      </div>
  </div>

<div class="Codes">
    <h1 class="CodesH1">Code Of Honour for student</h1>
    <p class="CodesP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="code0" class="actualcode">
        <div class="code_0"><h1>STU001</h1></div>
        <div class="code_1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco 
             laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu 
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum."<br><br>
            <span class="valSpan">Value 1</span><span class="valSpan">Value 2</span><span class="valSpan">Value 3</span> <span class="valSpan">Value 4</span> <i class="fas fa-share-alt shearBT"></i>
        </div>
    </div>
    <div class="code0" class="actualcode"></div>
    <div class="code0" class="actualcode">
      <div class="cover_campaign">
    <h1 class="title">Campaign And Light Africa  </h1>
   <div class="code-cover">
        <div id="code"><h3>Codes</h3></div>
   </div>
   
   <div class="mother_cover0">
    <div id="mother">
            <div class="student">
                    <h3>student</h3>
                </div>
           <div class="stu001"><h2>STU001</h2></div>
           <div class="text">some quick example text to build on the card title
               and make up the bulk of the card's content
           </div>
           <div class="font"><i class="fab fa-facebook-square square"></i></div>
        </div>
    
        <div id="mother1">
                <div class="student1">
                        <h3>student</h3>
                    </div>
      <div class="stu0011"><h2>STU001</h2></div>
   <div class="text1">some quick example text to build on the card title
         and make up the bulk of the card's content
        </div>
      <div class="font1"><i class="fab fa-facebook-square square1"></i></div>
        </div>
      
      <div id="mother2">
            <div class="student2">
                    <h3>student</h3>
                    </div>
        <div class="stu0012"><h2>STU001</h2></div>
    <div class="text2">some quick example text to build on the card title
         and make up the bulk of the card's content
         </div>
         <div class="font2"><i class="fab fa-facebook-square square2"></i></div>
       </div>
    </div>
    <div class="mother_cover0">
   <div id="mother3">
        <div class="student3">
                <h3>student</h3>
            </div>
         <div class="stu0013"><h2>STU001</h2></div>
         <div class="text3">some quick example text to build on the card title
             and make up the bulk of the card's content
         </div>
            <div class="font3"><i class="fab fa-facebook-square square3"></i></div>
      </div>
    
             <div id="mother4">
                    <div class="student4">
                            <h3>student</h3>
                            </div>
            <div class="stu0014"><h2>STU001</h2></div>
         <div class="text4">some quick example text to build on the card title
        and make up the bulk of the card's content
     </div>
     <div class="font4"><i class="fab fa-facebook-square square4"></i></div>
   </div>
      <div id="mother5">
            <div class="student5">
                    <h3>student</h3>
                    </div>
     <div class="stu0015"><h2>STU001</h2></div>
 <div class="text5">some quick example text to build on the card title
     and make up the bulk of the card's content
   </div>
     <div id="font5"><i class="fab fa-facebook-square square5"></i></div> 
    </div>
</div>
    <div class="botton_cover009">
        <button class="prevbtn1">
            Previous
        </button>
        <button class="prevbtn1">
            Next
        </button>
    </div>

</div>
    </div>
</div>

<div class="Pledge">
    <h3 class="pledg0">My Pledge to the Code</h3>
    <p id="pledg1Id" class="pledg1" wrap="on">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
     dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="pastCover"><i class="fas fa-paste past"  onClick="copyDivToClipboard()"></i> <p class="pledg2">Copy the Pledg and past it in this box</p></div>
    <textarea class="pledg3" cols="130" rows="15" wrap="virtual"></textarea>
    <button class="submitBtn">Submit</button>
</div>

<div id="Action">
    <h2>Action</h2>
    <div id="action_Card_Cover">
    <div class="actionCard0">
        <div class="imageSpace"><h6>Img Cap</h6></div>
        <div class="text_space0"><h3>Primary School</h3></div>
        <div class="text_space1"><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud
        </p></div>
        <div class="btnCover">
            <button class="btn0">Submit</button>
            </div>
    </div>
    <div class="actionCard0">
        <div class="imageSpace"><h6>Img Cap</h6></div>
        <div class="text_space0"><h3>Secondary School</h3></div>
        <div class="text_space1"><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud
        </p></div>
        <div class="btnCover">
            <button class="btn0">Submit</button>
            </div>
    </div>
    <div class="actionCard0">
        <div class="imageSpace"><h6>Img Cap</h6></div>
        <div class="text_space0"><h3>Tertiary Institution</h3></div>
        <div class="text_space1"><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud
        </p></div>
        <div class="btnCover">
        <button class="btn0">Submit</button>
        </div>
    </div>
   </div>
</div>
<div id="Volunteer">

</div>
    <div id="title00">
        <h3>
            Register as a Volunteer
        </h3>
    </div>
    <form>
        <div class="cover_div0">
            <div class="cover_child">
        <div class="child1">
        <label >Email</label><br>
        <input type="text" class="input000">
        </div>
        <div class="child2">
            <label class="label0">phone no</label><br>
            <input type="number" class="input000">
        </div>
            </div>
        <div class="child3">
            <label class="label0">Address</label><br>
            <input type="text" class="input1">
        </div>
        <div class="child3">
            <label class="label0">Address 2</label><br>
            <input type="text" class="input1">
        </div>
        <div class="cover_child2">
            <div class="descendant0"><label>city</label><br>
            <input type="text" class="descendant_input0" >
        </div>
            <div class="child4"><label>state</label><br>
            <select name="state" id="state"> 
                <option value="Choose" hidden>Choose...</option>
                <option value="Adamawa">Adamawa</option>
                <option value="Imo">Imo</option>
                <option value="Oyo">Oyo</option>
                <option value="Kogi">kogi</option>
            </select> </div>
            <div class="descendant1"><label>zip</label><br>
            <input type="text" class="descendant_input1" ></div>
            </div>
            <div class="cover_child3">
            <div descendant2>
                <label class="descendant_label">Country</label><br>
                <select class="descendant_input2"> 
             <option value="choose" hidden>Choose...</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Binin">Binin</option>
                    <option value="China">China</option>
                    <option value="India">India</option>
                </select>
            </div>
            <div class="descendant3">
                <label>Occupation</label><br>
                <select name="Occupation" class="descendant_input3" >
                    <option value="Choose" hidden>Choose...</option>
                    <option value="Trader">Trader</option>
                    <option value="sole properitor">Sole properitor</option>
                </select>
            </div>
            </div>
            <div>
                <input type="checkbox" class="checkbox"><label>Agree with the Terms</label>
            </div>
           <div class="sign_div0"> <button class="sign_btn">
                Sign In
            </button> </div>
        </div>
    </form>
<script>
    downarrow = document.querySelector(".downarrow");
    back0000 = document.querySelector("#back0000");
    side0 = document.querySelector("#side0");
    side1 = document.querySelector("#side1");
    side2 = document.querySelector("#side2");
    side3 = document.querySelector("#side3");
    side4 = document.querySelector("#side4");
    side5 = document.querySelector("#side5");
    side6 = document.querySelector("#side6");
    value = document.querySelector("#value");
    Codes = document.querySelector(".Codes");
    Pledge = document.querySelector(".Pledge");
    pledg3 = document.querySelector(".pledg3");
    Action = document.querySelector("#Action");
    cover_register = document.querySelector("#cover_register");
    cover_div0 = document.querySelector(".cover_div0");
    title00 = document.querySelector("#title00");
    cover_campaign = document.querySelector(".cover_campaign");
    var range;

    

    downarrow.addEventListener("click", addy);
    back0000.addEventListener("click", dady);
    side0.addEventListener("click", EnableSide0);
    side1.addEventListener("click", EnableSide1);
    side2.addEventListener("click", EnableSide2);
    side3.addEventListener("click", EnableSide3);
    side4.addEventListener("click", EnableSide4);
    side5.addEventListener("click", EnableSide5);
    value.addEventListener("click", dady);
    Codes.addEventListener("click", dady);
    Pledge.addEventListener("click", dady);
    Action.addEventListener("click", dady);
    cover_div0.addEventListener("click", dady);
    title00.addEventListener("click", dady);
    cover_campaign.addEventListener("click", dady);
    


    function addy(){
        liBox.style.display = "block";
    }
    function dady(){
        liBox.style.display = "none";
    }
    
    function EnableSide0(){
        value.style.display = "block";
        Codes.style.display = "none";
        Pledge.style.display = "none";
        Action.style.display = "none";
        title00.style.display = "none";
        cover_div0.style.display = "none";
        // side4.style.display = "none";
        // side5.style.display = "none";
        // side6.style.display = "none";
    }

    function EnableSide1(){
        value.style.display = "none";
        Codes.style.display = "block";
        Pledge.style.display = "none";
        Action.style.display = "none";
        title00.style.display = "none";
        cover_div0.style.display = "none";
        // side5.style.display = "none";
        // side6.style.display = "none";
    }

    function EnableSide2(){
        value.style.display = "none";
        Codes.style.display = "none";
        Pledge.style.display = "block";
        Action.style.display = "none";
        title00.style.display = "none";
        cover_div0.style.display = "none";
        // side5.style.display = "none";
        // side6.style.display = "none";
    }

    function EnableSide3(){
        value.style.display = "none";
        Codes.style.display = "none";
        Pledge.style.display = "none";
        Action.style.display = "block";
        title00.style.display = "none";
        cover_div0.style.display = "none";
        // side5.style.display = "none";
        // side6.style.display = "none";
    }

    function EnableSide4(){
        value.style.display = "none";
        Codes.style.display = "none";
        Pledge.style.display = "none";
        Action.style.display = "none";
        cover_campaign.style.display = "block";
        title00.style.display = "none";
        cover_div0.style.display = "none";
        // side6.style.display = "none";
    }
    function EnableSide5(){
        value.style.display = "none";
        Codes.style.display = "none";
        Pledge.style.display = "none";
        Action.style.display = "none";
        title00.style.display = "block";
        cover_div0.style.display = "block";
        // side5.style.display = "none";
        // side6.style.display = "none";
    }

   
    function copyDivToClipboard() {
                    range = document.createRange();
                    range.selectNode(document.getElementById("pledg1Id"));
                    window.getSelection().removeAllRanges(); // clear current selection
                    window.getSelection().addRange(range); // to select text
                    document.execCommand("copy");
                    window.getSelection().removeAllRanges();// to deselect
                    // pledg3.value = " ";
                    setTimeout(rr, 1000);
                }
                function rr(){
                    console.log("Jesus");
                    pledg3.value += range;
                    pledg3.style.textAlign = "left";
                    pledg3.style.wordSpacing= "-2px";
                    pledg3.style.padding = "0px";
                    pledg3.style.textIndent= "-20px";
                }
</script>
</section>
{% endblock %}
{% block footer %}{% endblock %}